{% load pipeline %}<!DOCTYPE html>
<!--
           __                             _                         __       
    ____  / /___      ______ __________  (_)___  ____ _ ____  _____/ /_______
   / __ \/ //_/ | /| / / __ `/ ___/ __ \/ / __ \/ __ `// __ \/ ___/ //_/ ___/
  / /_/ / ,<  | |/ |/ / /_/ / /  / / / / / / / / /_/ // /_/ / /  / ,< / /    
  \____/_/|_| |__/|__/\__,_/_/  /_/ /_/_/_/ /_/\__, (_)____/_(_)/_/|_/_/     
                                              /____/                         
  https://okwarning.or.kr/
-->
<html>
  <head>
    {% stylesheet 'vendor' %}
    {% stylesheet 'main' %}
    {% javascript 'vendor' %}
    {% javascript 'main' %}
  </head>
  <body>
    {% include '_partials/_header.html' %}
    <section id="content">{% block content %}{% endblock %}</section>
    {% include '_partials/_footer.html' %}
  </body>
</html>
